<h1>Edit List</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>

  <%= f.association :movies, collection: Movie.all, input_html: { multiple: true }, prompt: 'Select movies', selected: @list.movies.pluck(:id) %>

  <%= f.button :submit, 'Update List' %>
<% end %>