<h1>New List</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>

  <%= f.association :movies, collection: Movie.all, input_html: { multiple: true }, prompt: 'Select movies' %>

  <%= f.button :submit %>
<% end %>