<div class="container">
  <h1 class="text-center my-4">All Movies</h1>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-6 mb-4">
        <div class="card">
          <%= image_tag "https://image.tmdb.org/t/p/w500#{movie['poster_path']}", class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= movie['title'] %></h5>
            <p class="card-text"><%= movie['overview'] %></p>
            <p class="card-text">Rating: <%= movie['vote_average'] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>